.node-pane {
    -fx-background-color: rgb(100, 100, 100);
    -fx-background-radius: 10px;
    -fx-padding: 20px 5px 5px 5px;
}


.node-title-bar {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px 10px 0 0;
    -fx-text-fill: black;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}